<% if users.any? %>
  <ul>
    <% users.each do |user| %>
      <li class="mb-3 d-flex">
        
        <!--アバター-->
        <img class="rounded-circle" src="<%= gravatar_url(user, { size: 48 }) %>" alt="">

        <!--ユーザーネーム-->
        <div class="ms-2 mt-2">
          <%= link_to user.name, user_path(user) %>
        </div>

        <!--フォローボタン-->
        <div>
          <%= render 'relationships/follow_button', user: user %>
        </div>
        
      </li>
    <% end %>
  </ul>
  
<!--pagyをセンターに配置-->
  <div class="d-flex align-items-center justify-content-center">
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>

<% end %>