  <div class="row justify-content-center">
    <div class="border border-secondary col-6 p-sm-5 my-4 rounded">

<!--ユーザー一覧-->
      <div class="text-center">
        <h5>ユーザ一覧</h5>
      </div>
      <%= render 'users', users: @users %>
  
  
    </div>
  </div>