<div class="row">
  <aside class="col-sm-3 mt-2">
    <li class="mb-3 d-flex">
      <img class="rounded-circle me-2" src="<%= gravatar_url(@user, { size: 32 }) %>" alt="">
      <div>
        <%= link_to @user.name, users_path %>（login）
      </div>
     </li>
  </aside>
  <div class="col-sm-8">
    <ul class="nav nav-tabs justify-content-end mb-3">
      <li class="nav-item"><a href="#" class="nav-link">TODOリスト</a></li>
      <li class="nav-item"><a href="#" class="nav-link">★リスト</a></li>
      <li class="nav-item"><a href="#" class="nav-link">フォローリスト</a></li>
      <li class="nav-item"><a href="#" class="nav-link">フォロワーリスト</a></li>
    </ul>
  </div>
</div>