<div class="row justify-content-center">
  <div class="text-center border border-secondary col-6 p-2 p-sm-5 my-4 rounded">
    
    <h2>するコトめも</h2>
    
    <div class="text-secondary p-3">
      <h5>家族がつながるアプリ</h5>
      <p>家族のするコトを共有して、忙しい家族の時間をサポートします。</p>
    </div>
    <div>
      <%= link_to(login_path, class: 'btn btn-secondary') do %>
        login
      <% end %>
    </div>
    <div class='m-2'>
      <%= link_to 'signup?', signup_path %>
    </div>
  </div>
</div>
