<div class="text-center border border-secondary p-2 p-sm-5 my-4 rounded">
    <div class="text-secondary">
        <h3>するコトめも</h3>
        <h5>家族がつながるアプリ</h5>
        <p>家族のするコトを共有して、忙しい家族の時間をサポートします</p>
    </div>
    <div>
        <a href="#" button class="btn btn-secondary" type=button>login</a>
    </div>
    <div>
            <a href="#">signup?</a>
        </p>
    </div>
</div>