<header class="mb-4">
  <nav class="navbar navbar-expand-sm navbar-dark bg-secondary px-3">
    
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
          <li><a class="navbar-brand" href="/">するコトめも</a></li>
      </ul>
    </div>

      <ul class="navbar-nav">
        <% if logged_in? %>
        <li class="mt-2 me-3 text-nowrap">
          ログインユーザー:　<%= current_user.name %>
        </li>
        <li>
          <%= link_to 'Logout', logout_path, method: :delete, class: 'btn btn-secondary border' %>
        </li>
        <% end %>
      </ul>

  </nav>
</header>