<header class="mb-4">
  <nav class="navbar navbar-expand-sm navbar-dark bg-secondary">
    <div class="container-fluid ps-5 pe-5">
      <div class="navbar-brand" href="/">するコトめも</div>

      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item"><a href="#" button class="btn btn-outline-light" type=button>Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>